body {
  margin: 0;
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: #d0f0ed;

}
a:hover{
  text-decoration: none;
  color: #d0f0ed;
  color: white;
  border-bottom-width: 0px;
  /* border-width: 1px; */
  border-top: 1px solid white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bolder;
}

.arya2
{
  text-decoration: none;
  /* color;s */
  color:blue;
}



.navUl{
  position: fixed;
  /* top: */
  top: 0;
  width: 100%;
  list-style-type: none;
  text-align: right;
  margin-top: 0;
  padding-top: 1%;
  
  background-color: #256D66;
  padding-bottom: 1%;
}
.navUl li {
    display: inline;
    margin: 3%;
  color: #d0f0ed;
  border-bottom: 2px solid #d0f0ed;
  transition: border-width 0.3s linear;
  transition: font-weight 0.3s ease-in-out ;
}
.navUl li:hover{
  color: white;
  border-bottom-width: 0px;
  /* border-width: 1px; */
  border-top: 1px solid white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bolder;
}


.myName
{
  color: antiquewhite;
  color: #ffe297;
  display: inline;
}

.introDiv
{
  display: inline;
  text-align: center;
}

.myPhoto
{
  height: 20rem;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  /* align-items: right; */
  
  box-shadow: 10px 10px #dff1f0;
  transition:border-radius 0.2s linear;
  transition: height 1s linear;
}
.namediv{
  color: whitesmoke;
}
.myPhoto:hover
{
  cursor: pointer;
  height: 22rem;
  width: auto;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;

}
.nameDiv{
  margin:5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socialmediaUl
{
  list-style-type: none;
  text-align: left;
  margin-top: 0;
  padding-top: 1%;
  padding: 0;
  /* margin-left: ; */
  font-size: x-large;
}

.socialmediaUl li {
  display: inline;
  /* text-align: left; */
  margin-right: 10%;
  transition: font-size 1s linear;
  transition: border 0.5 linear;
 color: white;
}
.socialmediaUl li:hover{
  display: inline;
  /* text-align: left; */
  margin-right: 10%;
  /* border: 2px solid gray; */
  border-bottom: 4px white solid;
 font-size: xx-large;

cursor: pointer;
}

.int{
  text-decoration: none;
 color: white;
 


}
.int:hover{
  text-decoration: none;
  color: white;
  margin-right: 10%;
  /* border: 2px solid gray; */
  border-bottom: 4px white solid;
 font-size: xx-large;

cursor: pointer;
}

.aboutDiv{
    background-color: #ecfff7;
    display: flex;
justify-content: space-between;
    /* height: 500px; */
    align-items: center;
}



.aboutdiv
{
  width: 50%;
  text-align: center;
  margin: 7%;
  /* background-color: #256D66; */
  /* border: 2px solid teal; */
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  box-shadow: 7px 7px #06975b;
;

}

.Education
{
  background-color:#ecfff7 ;
}

.eduDiv
{
  color: black;
  display: flex;
  padding: 7%;
  /* flex-direction: column; */
  align-items: center;
    
}

.edu_img
{
  height: 100px;
}






.My_skill{
  margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }

.my_skill_items
{
  margin: 10px;
  /* background-color: aquamarine;
   */
   /* margin: 10px; */
   /* margin-top: 30px; */
   /* margin-bottom: 15px; */
  border: 2px solid teal;
  box-shadow: 5px 5px  #06975b;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  transition: transform 0.5s linear;
 background-color:  #e7ffe7;
 
}


.my_skill_items:hover
{
  margin: 10px;
  /* margin-top: 40px; */
  /* margin-bottom: 40px; */
  /* margin-bottom: 15px; */
  /* background-color: aquamarine;
   */
  border: 2px solid teal;
  box-shadow: 5px 5px 18px  #06975b;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 0%;
  cursor: pointer;
  transform: translate(0px,-20px); /* Standard syntax */
    background-color: #256D66;
    color: white;
}


.Foot{
  margin-top: 10%;
  /* background-color:black ; */
  background-image: linear-gradient(to right, rgb(3, 37, 20) , rgb(235, 235, 188));

  text-align: center;
  color: #e7ffe7;
}

.my_project
{
  display: flex;
  justify-content: space-around;
  margin: 7%;
}
.my_project_items
{
  text-align: center;
}

.arya
{
  width: 50%;
}
.my_project_items:hover{
  border: 2px rgb(4, 4, 75) solid;
  border-bottom-left-radius: 40%;
  border-top-right-radius: 40%;
  box-shadow: 5px 5px teal;
  width: 59%;
  background-color: rgb(207, 243, 241);
  color: rgb(4, 4, 75);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

  .navUl{
    list-style-type: none;
    text-align: left;
    margin-top: 0;
    padding-top: 5%;
    position: sticky;
    top: 0;
    background-color: #256D66;
    padding-bottom: 1%;
  }
  .navUl li {
      display: inline;
      margin: 2%;
    color: #d0f0ed;
    border-bottom: 2px solid #d0f0ed;
    transition: border-width 0.3s linear;
    transition: font-weight 0.3s ease-in-out ;
  }
  .navUl li:hover{
    color: white;
    border-bottom-width: 0px;
    /* border-width: 1px; */
    border-top: 1px solid white;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bolder;
  }
  



  .nameDiv{
    margin:5%;
    display: flex;
   flex-direction: column-reverse;
  }
  .myPhoto
{
  height: 17rem;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  /* align-items: right; */
  
  box-shadow: 5px 5px #dff1f0;
  transition:border-radius 0.2s linear;
  margin: 10px;
  transition: height 1s linear;

}
.myPhoto:hover
{
  cursor: pointer;
  height: 19rem;
  width: auto;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;

}
.namediv{
  margin: 2%;
  text-align: center;
}

.socialmediaUl
{
  list-style-type: none;
  text-align: center;
  margin-top: 0;
  padding-top: 1%;
  padding: 0;
  /* margin-left: ; */
  font-size: x-large;
}

.socialmediaUl li{
  display: inline;
  /* text-align: left; */
  margin: 3%;
  transition: font-size 0.2s linear;
  transition: border 0.2s linear;
 color: white;
}
.socialmediaUl li:hover{
  display: inline;
  /* text-align: left; */
  margin-right: 10%;
  /* border: 2px solid gray; */
  border-bottom: 4px white solid;
 font-size: xx-large;

cursor: pointer;
}




.aboutDiv{
  background-color: #ecfff7;
  display: flex;
  flex-direction: column-reverse;
justify-content: space-between;
  /* height: 500px; */
  align-items: center;
}





.aboutdiv
{
  width: 90%;
  margin-top: 10%;
  text-align: center;
  /* margin: 2%; */
  /* background-color: #256D66; */
  border: 2px solid teal;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  box-shadow: 5px 5px #06975b;
;

}
.eduDiv
{
  color: black;
  display: flex;
  flex-direction: column;
  padding: 7%;
  /* flex-direction: column; */
  align-items: center;
}

.edu_img
{
  height: 100px;
}



.My_skill{
  margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
  }

.my_skill_items
{
  margin: 20px;
}

a{
  text-decoration: none;
  color: #d0f0ed;

}
a:hover{
  text-decoration: none;
  color: #d0f0ed;
  color: white;
  border-bottom-width: 0px;
  /* border-width: 1px; */
  border-top: 1px solid white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bolder;
}


.my_project
{
  display: flex;
  /* justify-content: space-around;
   */
  flex-direction: column-reverse;
  align-items: center;
   margin: 7%;
}
.my_project_items
{
  text-align: center;
  width: 100%;
}

.my_project_items:hover{
  border: 2px rgb(4, 4, 75) solid;
  border-bottom-left-radius: 40%;
  border-top-right-radius: 40%;
  box-shadow: 5px 5px teal;
  width: 100%;
  background-color: rgb(207, 243, 241);
  color: rgb(4, 4, 75);
  cursor: pointer;
}

}